doctype html

head
	link(rel="stylesheet", href='/css/main.css')

body
	#base.view
		#searchbar
		#results
	#conversation.view
		#nav
			a.back(href='/') â†
		#stats
		#messages

	block scripts
		script(src='/js/app.js')